*{
  margin: 0;
  padding: 0;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content:space-between;
    align-items:center ;
    background-color: rgb(41, 224, 139);
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem{
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(172, 252, 190);
}

main{
    flex: 1;
}

.cabecalho-link { 
  color: #000000; 
  text-decoration: none; 
} 

h1 { 
  color: #fff; 
  font-size: 40px; 
} 

footer { 
  background-color: rgb(41, 224, 139);
  padding: 15px 25px; 

} 